name: CI

on:
    push:
        branches:
            - master
    pull_request:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20, 22, 24]

        steps:
            - uses: actions/checkout@v5

            - name: Install pnpm
              uses: pnpm/action-setup@v2

            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install & Build
              run: |
                  pnpm install
                  pnpm build

            - name: Lint
              run: pnpm lint

            - name: Test
              run: pnpm test

    examples:
        needs: build
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                node-version: [20, 22, 24]
                example-name:
                    [
                        example-jest,
                        example-jest-shadow-dom,
                        example-vitest,
                        example-vitest-shadow-dom,
                        example-create-react-app,
                    ]

        steps:
            - uses: actions/checkout@v5

            - name: Install pnpm
              uses: pnpm/action-setup@v2

            - uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install & Build
              run: |
                  pnpm install
                  pnpm build

            - name: Build and test ${{ matrix.example-name }}
              working-directory: ./examples/${{ matrix.example-name }}
              run: |
                  pnpm install
                  pnpm test
                  pnpm typecheck
